<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ego.services.base.facade.dao.jurisdiction.OrgInfoMapper" >


  <resultMap id="BaseResultMap" type="com.ego.services.base.facade.model.jurisdiction.OrgInfo" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>


    <resultMap id="BaseResultMapTwo" type="com.ego.services.base.facade.model.jurisdiction.OrgInfo" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
        <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
		<result column="type" property="type" jdbcType="TINYINT" />
        <collection property="roleInfos"  ofType="com.ego.services.base.facade.model.jurisdiction.RoleInfo" >
            <id column="role_id" jdbcType="VARCHAR" property="roleId" />
            <result column="role_title" jdbcType="VARCHAR" property="roleTitle" />
			<result column="role_status" jdbcType="VARCHAR" property="status" />
        </collection>
    </resultMap>

    <resultMap id="BaseResultMapThree" type="com.ego.services.base.facade.model.jurisdiction.OrgInfo" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
        <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
		<result column="type" property="type" jdbcType="TINYINT" />
        <collection property="acctInfos"  ofType="com.ego.services.base.facade.model.jurisdiction.AcctInfo" >
            <id column="acct_id" jdbcType="VARCHAR" property="acctId" />
            <result column="acct_title" jdbcType="VARCHAR" property="acctTitle" />
			<result column="acct_status" jdbcType="VARCHAR" property="status" />
        </collection>
    </resultMap>
  
  <insert id="insertOrgInfo" keyProperty="id" useGeneratedKeys="true" keyColumn="ID" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	INSERT INTO org_info (
  		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME
	)
	VALUES
		(	
			#{id,jdbcType=BIGINT},
			#{orgCode,jdbcType=VARCHAR},
			#{orgName,jdbcType=VARCHAR},
			#{parentId,jdbcType=INTEGER},
			#{remark,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{createdBy,jdbcType=VARCHAR},
			#{updatedBy,jdbcType=VARCHAR},
			#{updatedTime,jdbcType=TIMESTAMP}
		);
		
  </insert>
  
  <update id="updateOrgInfo" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	UPDATE org_info
  	<set >
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
         PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="queryChildOrgInfo" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	FROM
		org_info
	WHERE
		ID LIKE CONCAT( #{parentId,jdbcType=VARCHAR}, '%')
  </select>


	<select id="getPwerTreeOrgInfo" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
		SELECT
		o.ID,
		o.ORG_CODE,
		o.ORG_NAME,
		o.PARENT_ID,
		case when (select COUNT(1) from org_priv_relation opr where 1=1
		<if test="powerExpressionId != null and powerExpressionId!='' " >
			and opr.POWER_EXPRESSION_id=#{powerExpressionId}
		</if>
		<if test="powerExpressionId == null" >
			and opr.POWER_EXPRESSION_id is null
		</if>
            and opr.org_id=o.id)>0 then 1 else 0 end as status
		FROM
		org_info o
		WHERE
		o.ID  LIKE CONCAT( #{parentId,jdbcType=VARCHAR}, '%')

	</select>



    <select id="getPwerTreeRoleInfo" resultMap="BaseResultMapTwo" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
        SELECT
         o.ID,		o.ORG_CODE,		o.ORG_NAME,		o.PARENT_ID,
        ri.role_title,ri.role_id,1 type,
		case when (select COUNT(1) from role_priv_relation opr where 1=1
		<if test="powerExpressionId != null and powerExpressionId!='' " >
			and opr.POWER_EXPRESSION_id=#{powerExpressionId}
		</if>
		<if test="powerExpressionId == null" >
			and opr.POWER_EXPRESSION_id is null
		</if>
		and opr.role_id=ri.role_id)>0 then 1 when ri.role_id is null then null else 0 end as role_status
        FROM
        org_info o
        LEFT join role_info ri on ri.org_id=o.id and  ri.is_delete=0
		WHERE
        o.ID LIKE CONCAT( #{parentId,jdbcType=VARCHAR}, '%')
    </select>


    <select id="getPwerTreeAcctInfo" resultMap="BaseResultMapThree" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
        SELECT
        o.ID,		o.ORG_CODE,		o.ORG_NAME,		o.PARENT_ID,
        ai.acct_id,ai.acct_title,1 type,
		case when (select COUNT(1) from account_priv_relation opr where 1=1
		<if test="powerExpressionId != null and powerExpressionId!='' " >
			and opr.POWER_EXPRESSION_id=#{powerExpressionId}
		</if>
		<if test="powerExpressionId == null" >
			and opr.POWER_EXPRESSION_id is null
		</if>
		and opr.acct_id=ai.acct_id)>0 then 1 when ai.acct_id is null then null else 0 end as acct_status
        FROM
        org_info o
         LEFT JOIN acct_info ai on ai.O_INFO_ID=o.id and ai.is_delete=0
        WHERE
        o.ID LIKE CONCAT( #{parentId,jdbcType=VARCHAR}, '%')

    </select>

  
  <delete id="deleteOrgInfo" parameterType="java.lang.String">
  	DELETE
	FROM
		org_info
	WHERE
		ID IN
	<foreach item="id" collection="cascadeDeletionOrgInfo" open="(" separator="," close=")">
		#{id,jdbcType=VARCHAR}
	</foreach>
  </delete>
  
  <select id="selectListOrgInfoAll" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	FROM
		org_info
	WHERE
		ID = #{id2,jdbcType=VARCHAR}
  </select>
  
  
  
  
  
  
  
  
  
  
  <select id="selectOrgInfo" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	SELECT
		ID,		ORG_CODE,		ORG_NAME,		PARENT_ID,		REMARK,
		`STATUS`,		CREATED_BY,		CREATED_TIME,		UPDATED_BY,		UPDATED_TIME
	FROM
		org_info
	WHERE
		ID = #{id,jdbcType=VARCHAR}
  </select>
	<select id="selectOrgInfo1" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	FROM
		org_info
	WHERE
		ORG_CODE = #{parentId,jdbcType=VARCHAR}
  </select>

	<select id="selectOrgInfo2" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
		SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
		FROM
		org_info
		WHERE
		ID = #{parentId,jdbcType=VARCHAR}
		<if test="id != null " >
			and ID like CONCAT(CONCAT('%',#{id}),'%')
		</if>
	</select>

	<select id="selectOrgInfoAcctInfo" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
		SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
		FROM
		org_info
		WHERE
		ID = #{parentId,jdbcType=INTEGER}
		<if test="id != null " >
			and ID like CONCAT(CONCAT('%',#{id}),'%')
		</if>
	</select>
  
  <select id="selectListOrgInfo" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
    SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	FROM
		org_info	
  </select>

	<select id="selectOrgInfoListById" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo" resultMap="BaseResultMap">
	  SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	  FROM org_info WHERE ID =#{id}
	</select>
  
  
  
  <select id="getChildOrgInfo" resultMap="BaseResultMap" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo" >
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	FROM
		org_info
	WHERE
		PARENT_ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="getOrgInfoId" resultType="java.lang.String">
  	SELECT
		MAX(ID) ID
	FROM
		org_info
	WHERE
		PARENT_ID = #{id,jdbcType=VARCHAR}
  </select >
  
  <select id="getOrgInfoIdAll" resultType="java.lang.String" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	SELECT
	 ID
	FROM
		org_info
	WHERE
		ID LIKE CONCAT( #{id,jdbcType=VARCHAR}, '%')
  </select>

  <select id="getMaterielOrginfo" resultMap="BaseResultMap" resultType="java.lang.String" >
    SELECT
	    ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	FROM
		org_info
	WHERE
		ID = #{acctInfoId,jdbcType=VARCHAR}
  </select>


	<select id="selectSysQuoteOrgInof" resultType="com.ego.services.base.facade.model.jurisdiction.OrgInfo" parameterType="com.ego.services.base.facade.model.jurisdiction.SysInfo">
		SELECT
		o.ID,
		o.ORG_CODE,
		o.ORG_NAME,
		o.PARENT_ID,
		o.REMARK,
		o.`STATUS`,
		o.CREATED_BY,
		o.CREATED_TIME,
		o.UPDATED_BY,
		o.UPDATED_TIME
		FROM
		org_info o
		LEFT JOIN acct_org_sys aos on aos.org_id=o.id
		LEFT JOIN sys_info s on s.sys_id=aos.sys_id
		where 1=1 and aos.sys_id=#{sysId} and s.is_delete=0 and s.status=1 and aos.status=1
	</select>

  <select id="getOrgInfo" resultType="com.ego.services.base.facade.model.jurisdiction.OrgInfo" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		`STATUS`,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME
	FROM
		org_info
	WHERE
		ID = #{parentId,jdbcType=VARCHAR}
  </select>
  
  <select id="getOrgInfoName" resultType="java.lang.String" parameterType="java.lang.String">
  	SELECT
		ID
	FROM
		org_info
	WHERE
	ORG_NAME = #{orgName,jdbcType=VARCHAR}
  </select>
  
  <select id="selectParityOrgName" resultType="java.lang.Integer" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
  	SELECT
		COUNT(*)
	FROM
		`org_info`
	WHERE
		ORG_NAME = #{orgName,jdbcType=VARCHAR}
  </select>

	<select id="selectRoleQuoteOrg" resultType="com.ego.services.base.facade.model.jurisdiction.OrgInfo" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
		select o.id,o.org_name from org_info o
		LEFT JOIN acct_role_org aro on aro.org_id=o.id
		where aro.role_id = #{roleId} and aro.status=1
		and o.id like CONCAT( #{orgId}, '%') and o.id !=#{orgId}
	</select>

	<select id="selectRoleYesQuote" resultType="com.ego.services.base.facade.model.jurisdiction.OrgInfo" parameterType="com.ego.services.base.facade.model.jurisdiction.OrgInfo">
		select o.id,o.org_name from org_info o
		LEFT JOIN acct_org_sys aos on aos.org_id=o.id
		where o.id like CONCAT( #{orgId}, '%')
		and o.id not in (
		select aro.ORG_ID from acct_role_org aro
		where aro.role_id = #{roleId}
		) and aos.SYS_ID=#{sysId} and o.id != #{orgId}
		<if test="orgIds != null and orgIds.length>0 " >
			AND o.id not in
			<foreach collection="orgIds" close=")" open="(" item="all" separator=",">
				#{all}
			</foreach>
		</if>
	</select>

</mapper>