/*主色*/

$main-a:#60D9D3;//悬停色
$main-b:#5ACCC6;//状态默认色
$main-c:#4DBEB8;//点击色
$main-d:#579DF0;//悬停色
$main-e:#4A90E2;//状态默认色
$main-f:#3E83D4;//点击色


$main-g:#FAFAFA;;//背景色1
$main-h:#596B7F;//背景色2


/*中性色*/

$neutral-a:#FAFAFA;//grid斑马线
$neutral-b:#EBEEF8;//grid高亮
$neutral-c:#E8E8E8;//分割线色
$neutral-d:#D9D9D9;//输入框边框
$neutral-e:#999999;//辅助文字
$neutral-f:#666666;//正文文字
$neutral-g:#333333;//标题文字功能色

/*功能色*/
$function-a:#4A90E2;//链接文本
$function-b:#DEE1F8;//外发光
$function-c:#FFBF00;//警告色
$function-d:#FEEAC4;//外发光2
$function-e:#00A854;//成功色
$function-f:#D4F0C6;//外发光3
$function-g:#F04134;//出错&失败
$function-h:#FBCFCC;//外发光4
