
.Short-message-management-platform {
  background-color: white;
  width: 1060px;
  min-height: 680px;
  margin: 0 auto;
  padding: 30px;
}
.Short-message-management-platform .Short-message-management-platformcon-nav {
  margin-left:-13px;
  border-bottom: 1px solid #ccc;
  color: #999;
  height: 56px;
}
.Short-message-management-platform .Short-message-management-platformcon-nav button {
  color: #999;
  margin-left: 30px;
  width: 80px;
  height: 30px;
  background-color: white;
  border: 1px solid #ccc;
}
.Short-message-management-platform .Short-message-management-platformcon-nav input {
  width: 228px;
  height: 26px;
  margin-left: 30px;
  border: 1px solid #CCCCCC;
  text-indent: 10px;
}
.Short-message-management-platform .Short-message-management-platformcon-nav select {
  margin-bottom: 30px;
  color: #999;
  width: 228px;
  height: 30px;
  border: 1px solid #ccc;
  margin-left: 11px;
}
.Short-message-management-platform .Short-message-management-platformcon-con {
  padding-top: 35px;
  padding-bottom: 35px;
  width:122px;
}
.Short-message-management-platform .Short-message-management-platformcon-con span {
  border: 1px solid #4FB0AC;
  color: #4FB0AC;
  padding: 8px;
  cursor:pointer;
  
}
.Short-message-management-platform .Short-message-management-platformcon-table {
  width: 100%;
}
.Short-message-management-platform .Short-message-management-platformcon-table table {
  text-align: center;
  width: 100%;
}
.Short-message-management-platform .Short-message-management-platformcon-table table .Short-table-tr {
  background-color: #F5F7F9 ;
  color: #536C76;
}
.Short-table-tr-sheng{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Short-message-management-platform .Short-message-management-platformcon-table table .Short-table-tr th{
	text-align: center !important;
}

.Short-message-management-platform .Short-message-management-platformcon-table table tr {
  color: #000;
  width: 100%;
  height: 40px;
}
.Short-message-management-platform .Short-message-management-platformcon-table table tr td a {
  color: #00B3AD;
  margin-left: 10px;
}
.partingLine{
  width: 1px;
  height: 20px;
  display: inline-block;
  border-right: 1px solid #CCCCCC;
  margin-top: 46px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}
.Short-message-management-name{color: red;margin-left: 20px}
.nodata-message{margin:128px 520px 0px 520px}
.opt-left{
	text-align:left;
}
